<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD Node.js and Mysql</title>
  {{!-- <link href="../public/css/bootstrap.css" rel="stylesheet" type="text/css"/> --}}
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>


   
<div class="container">
    <h2>Bible Greek Word ch23 </h2>
    <table class="table table-striped" id="mytable">
        <thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>name</th>
            <th>Etc</th>
        </tr>
        </thead>
        <tbody>
        {{#each results}}
	    {{#compare chapter '=='23 }}
            <tr>
                <td>{{ id }}</td>
                <td>{{ title }}</td>
                <td>{{ name }}</td>

                <td>
                    <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ product_id }}"
                       data-product_name="{{ product_name }}" data-product_price="{{ product_price }}">NOP1</a>
                    <a href="javascript:void(0);" class="btn btn-sm btn-danger delete"
                       data-id="{{ product_id }}">NOP2</a>
                </td>
            </tr>
	    {{/compare}}

        {{/each}}
        </tbody>
    </table>
</div> 


{{!-- <script src="../public/js/jquery-3.3.1.min.js"></script>
<script src="../public/js/bootstrap.js"></script> --}}

<script src="product_v.js"></script>

</body>
</html>
