<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD Node.js and Mysql</title>
  {{!-- <link href="../public/css/bootstrap.css" rel="stylesheet" type="text/css"/> --}}
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>

    <h2> test...</h2>
    <p>{{stuff}}</p>

   
<div class="container">
    <h2>Bible Greek Word List</h2>
    <button id = "test_btn" class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Hide Toggle</button>
    <table class="table table-striped" id="mytable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>meaning</th>
            <th>Etc</th>
        </tr>
        </thead>
        <tbody>
        {{#each results}}
            <tr>
                <td>{{ id }}</td>
                <td>{{ name }}</td>
                <td>{{ meaning }}</td>

                <td>
                    <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ product_id }}"
                       data-product_name="{{ product_name }}" data-product_price="{{ product_price }}">Edit</a>
                    <a href="javascript:void(0);" class="btn btn-sm btn-danger delete"
                       data-id="{{ product_id }}">Delete</a>
                </td>
            </tr>

        {{/each}}
        </tbody>
    </table>
</div> 


{{!-- <script src="../public/js/jquery-3.3.1.min.js"></script>
<script src="../public/js/bootstrap.js"></script> --}}

<script src="product_v.js"></script>

</body>
</html>
